/* Dark Theme Styles inspired by ChatGPT */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #1a1a1a; /* Dark background */
  color: #ffffff; /* White text */
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  background-color: #252525; /* Darker container background */
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Soft shadow */
  padding: 40px;
  margin: 20px auto;
}

h1 {
  color: #ffffff; /* White headings */
  font-size: 36px; /* Larger font size */
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px; /* Increased margin */
}

p {
  color: #cccccc; /* Light gray text */
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 40px; /* Increased margin */
}

.text-box {
  width: 100%;
  margin-bottom: 30px; /* Increased margin */
}

textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #333333; /* Darker border */
  border-radius: 6px; /* Slightly rounded corners */
  padding: 12px;
  font-size: 16px;
  resize: vertical;
  background-color: #2b2b2b; /* Dark text area background */
  color: #ffffff; /* White text */
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px; /* Increased margin */
}

.button {
  background-color: #4db2ff; /* ChatGPT blue */
  color: #ffffff; /* White text */
  font-weight: bold;
  border: none;
  padding: 14px 28px;
  border-radius: 6px; /* Slightly rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button:hover {
  background-color: #3293db; /* Darker blue on hover */
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button--loading .button-text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  right: 30px;
  margin-top: -8px;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.language-select {
  background-color: #4db2ff; /* ChatGPT blue */
  color: #ffffff; /* White text */
  border: none;
  padding: 12px 24px;
  border-radius: 6px; /* Slightly rounded corners */
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.language-select:hover {
  background-color: #3293db; /* Darker blue on hover */
}

.language-select:focus {
  outline: none;
}

/* Navbar Styles */
.navbar {
  max-width: 850px;
  background-color: #1a1a1a; /* Dark background */
  color: #ffffff; /* White text */
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Soft shadow */
  border-radius: 8px; /* Rounded corners */
  margin: 20px auto;
}

.navbar-brand {
  font-size: 28px; /* Larger font size */
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.navbar-menu-item {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff; /* White text */
  padding: 12px; /* Increased padding */
  transition: background-color 0.3s ease;
  border-radius: 6px; /* Slightly rounded corners */
}

.navbar-menu-item:hover {
  background-color: #3293db; /* Darker blue on hover */
}
