/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  margin: 20px auto;
}

h1 {
  color: #333;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

p {
  color: #666;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 30px;
}

.text-box {
  width: 100%;
  margin-bottom: 20px;
}

textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 12px;
  font-size: 16px;
  resize: vertical;
}

.button-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.button {
  background-color: #007bff;
  color: #ffffff;
  font-weight: bold;
  border: none;
  padding: 14px 28px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.button:hover {
  background-color: #0056b3;
}

.button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.button--loading .button-text {
  visibility: hidden;
  opacity: 0;
}

.button--loading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 50%;
  right: 30px;
  margin-top: -8px;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

.language-select {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.language-select:hover {
  background-color: #0056b3;
}

.language-select:focus {
  outline: none;
}

/* Navbar Styles */
.navbar {
  max-width: 850px;
  background-color: #007bff;
  color: #ffffff;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 8px 8px;
  margin: 20px auto;
}

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  gap: 20px;
}

.navbar-menu-item {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  transition: background-color 0.3s ease;
}

.navbar-menu-item:hover {
  background-color: #0056b3;
  border-radius: 4px;
}
